<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/custom.css">
    </head>
    <body>
        <div class='box navbar'>
            <h3 class='title'>Beholder</h3>
            <ul class='navbar-opts'>
                <li><a href="/">Home</a></li>
                <li><a href="/upload">Upload</a></li>
                <li><a href="/explore">Explore</a></li>
                <li><a class="active" href="/analytics">Analytics</a></li>
            </ul>
        </div>
        <div class='highlight box'></div>
        <div class='columns'>
          <div class='content-left column box'>
              <h1 class="content-title">Analytics</h1>
              <hr>
              <h5 class="content-text">
                   Analytics is done by first converting the video into frames using ffmpeg
                   and using Watson Visual Recognition API to extract similarity score against
                   pre-existing tagged images in the database. 
              </h5>
          </div>
          <div class='content-right column box'>
              <h1 class="content-title">Features</h1>
              <hr>
              <h5 class="content-text">
                  
              </h5>
          </div>
        </div>
    </body>
</html>
