<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/custom.css">
    </head>
    <body>
        <div class='box navbar'>
            <h3 class='title'>Beholder</h3>
            <ul class='navbar-opts'>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/upload">Upload</a></li>
                <li><a href="/explore">Explore</a></li>
                <li><a href="/analytics">Analytics</a></li>
            </ul>
        </div>
        <div class='highlight box'></div>
        <div class='columns'>
          <div class='content-left column box'>
              <h1 class="subtitle content-title">About</h1>
              <hr>
              <h5 class="content-text">
                   Beholder is a system for protecting content ownership through
                   a distributed architecture and cognitive computing. Unlike
                   its predecessors, Beholder is memory-efficient, reliable, and
                   resistant against common copyright infringement techniques.
                   It leverages the abilities of IBM Watson video comprehension
                   and cloud hosting to provide high availability and accuracy.
              </h5>
          </div>
          <div class='content-right column box'>
              <h1 class="subtitle content-title">Features</h1>
              <hr>
              <h5 class="content-text">
                  
              </h5>
          </div>
        </div>
    </body>
</html>
